{% extends 'base.html' %}

{% block body %}

<link rel="stylesheet" href="/static/login.css">
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="https://www.w3schools.com/bootstrap4/img_avatar3.png" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form action="/login" method="post">
            <input type="text" id="login" class="fadeIn second" name="username" placeholder="username">
            <input type="text" id="password" class="fadeIn third" name="password" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
        </div>

    </div>
</div>



{% endblock %}