<!DOCTYPE html>
<html>

<head>
    <title>Djani</title>
    <link rel="stylesheet" href="/get_css" type="text/css" />

</head>


<body>

    <form action="/user_added">
        <table>


            <tr>
                <td>First name: </td>
                <td><input type="text" name="first_name" width='60'></td>
            </tr>

            <td>Last name:</td>
            <td><input type="text" name="last_name"></td>

            </tr>
            <tr>
                <td>Address:</td>
                <td><input type="text" name="user_address"></td>

            </tr>
            <tr>
                <td>Phone:</td>
                <td><input type="text" name="phone_numb"></td>

            </tr>
        </table>
        <p>When you're ready, click this button:</p>
        <p><input type="submit" value="Add"></p>


    </form>

</body>


</html>