<!DOCTYPE html>
<html>

<head>
    <title>Djani</title>
    <link rel="stylesheet" href="/get_css" type="text/css" />

</head>


<body>
    <form action="/book_added">
        <table>


            <tr>
                <td>Book name: </td>
                <td><input type="text" name="book_name"></td>
            </tr>

            <td>Author of book:</td>
            <td><input type="text" name="author_name"></td>

            </tr>
            <tr>
                <td>Number of books:</td>
                <td><input type="text" name="book_num"></td>

            </tr>

        </table>
        <p>When you're ready, click this button:</p>
        <p><input type="submit" value="Add"></p>

    </form>
</body>

<!-- Kad kliknes na Dodaj, browser ode na adresu 
    /neka_putanja?bakir_kljuc=tekst_iz_prvog_polja&bakir_vrednost=tekst_iz_drugog_polja -->

</html>