<!DOCTYPE html>
<html>

<head>
    <title>Djani</title>
    <link rel="stylesheet" href="/get_css" />

</head>

<body>
    <h1>Welcome to Leen's site for renting books</h1>
    <p>Choose one of this options:</p>
    <a href="/add_user"> Add user</a> <br>
    <a href="/get_user">Search users</a> <br>
    <a href="/add_book">Add book</a> <br>
    <a href="/get_book">Search books</a> <br>
    <a href="/rent_book">Rent book</a> <br>
    <a href="/return_book">Return book</a> <br>


    <img src="/get_image" alt="HTML5 Icon" class="rotate90">

</body>

</html>