<!DOCTYPE html>
<html>

<head>
    <title>Djani</title>
    <link rel="stylesheet" href="/get_css" type="text/css" />

</head>

<body>
    <h1>Search Books:</h1>
    <form action="/book_geted">
        <table>
            <tr>
                <td>Input author name or book name:</td>
                <td><input type="text" name="book_author_name"></td>
            </tr>
        </table>
        <p>When you're ready, click this button:</p>
        <input type="submit" value="Search">
        <img src="/get_image1" alt="Smiley face" width="42" height="42">
    </form>
    </form>

</body>

</html>