body {
  font-family:      Verdana, Geneva, Arial, sans-serif;
  font-size:        medium;
  background-color: tan;
  margin-top:       5%;
  margin-bottom:    5%;
  margin-left:      10%;
  margin-right:     10%;
  padding:          10px 10px 10px 10px;
}
a {
  text-decoration:  none; 
  font-weight:      600; 
}
a:hover {
  text-decoration:  underline;
}
a img {
  border:           0;
}
h2 {
  font-size:        150%;
}
table {
  margin-left:      20px;
  margin-right:     20px;
  caption-side:     bottom;
  border-collapse:  collapse;
}
td, th {
  padding:          5px;
  text-align:       left;
}
img { 
  width: 50%;
  height: 50%;
  float: right;
  margin-left:      100px;
  margin-right:     20px; 
  position: absolute;
  left: 300px;
  top: 260px;
  
}

/*** Tables ***/

table {
font-size:          1em;
background-color:   #fafcff;
border:             1px solid #909090;
color:              #2a2a2a;
padding:            5px 5px 2px;
border-collapse:    collapse;
}

td, th {
border:             thin dotted gray;
color:              #040803;
}

/*** Inputs ***/
input[type=text] {
  font-size:        115%;
  width:            30em;
  color:          #972626;
  background-color:   #fafcff;
}
input[type=submit] {
  font-size:        125%;
}
select {
  font-size:        125%;
}
